* {
  margin: 0;
}
.p-6 {
  padding: 4rem !important;
}
.light {
  font-weight: 300;
}
.semibold {
  font-weight: 400;
}
.bg-lightgrey {
  background-color: #f4f4f4;
}
.bg-dark {
  background-color: #161616 !important;
}
.skew {
  transform: skew(0deg, -3deg);
}
.skew .skew-content {
  transform: skew(0deg, 3deg);
}
.btn-register {
  background-color: #4cb5ff;
  color: white;
  font-size: 1.4rem;
  border-radius: 12px;
  padding: 0.6rem 1.5rem;
  font-weight: 300;
}
.btn-register:hover {
  color: white;
  background-color: #82cbff;
}
@media (max-width: 768px) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
.react-autosuggest__container {
  position: relative;
  width: 100%;
}
.react-autosuggest__input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
}
.react-autosuggest__input--focused {
  outline: none;
}
.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.react-autosuggest__suggestions-container {
  display: none;
}
.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 100%;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}
.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}
.react-autosuggest__suggestion--first {
  font-weight: 600;
}
.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
nav.navbar {
  padding: 0.8rem 1.5rem;
}
nav.navbar .navbar-nav .nav-item {
  margin: 0 0.5rem;
}
nav.navbar .navbar-nav .nav-item .nav-link {
  padding: 0.5rem 0;
  border-bottom: 3px solid transparent;
}
nav.navbar .navbar-nav .nav-item .nav-link.active {
  border-bottom: 3px solid #4cb5ff;
  color: black;
}
nav.navbar .nav-link:not(.active):hover {
  border-bottom: 3px solid #82cbff;
}
.skill-interest-list {
  list-style-type: none;
  overflow: auto;
  margin-bottom: 0.75rem;
  padding-left: 0;
}
.skill-interest-list:last-child {
  margin-bottom: 0;
}
.skill-interest-list li {
  display: inline-block;
  margin: 0 0.75rem 0.25rem 0;
  padding: 0.25rem 0.7rem;
  border-radius: 32px;
  font-size: 0.75rem;
}
.skill-interest-list .interest-list-item {
  background-color: #363636;
  color: white;
}
.skill-interest-list .interest-list-item.hover:hover {
  cursor: pointer;
  background-color: #272727;
}
.skill-interest-list .skill-list-item.hover:hover {
  cursor: pointer;
  background-color: #d1d1d1;
}
.skill-interest-list .skill-list-item {
  background-color: #dfdfdf;
}
#project-options:hover {
  cursor: pointer;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #d1d1d1;
}
.project-visibility.private {
  background-color: #c02323;
}
.project-visibility.public {
  background-color: #129032;
}
.project-visibility {
  font-size: 0.75rem;
  border-radius: 8px;
  padding: 0.25rem 0.5rem;
  color: white;
}
.hover:hover {
  cursor: pointer;
}
